<ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" >
  <li class="li-img" nz-menu-item nzDisabled>
    <img class="menu-img" height="50" src="https://angular.cn/assets/images/logos/angular/logo-nav@2x.png"/>
  </li>
  <li nz-menu-item [routerLink]="['/']"><i nz-icon type="mail" theme="outline" ></i>主页</li>
  <li nz-menu-item [routerLink]="['/test']"><i nz-icon type="appstore" ></i>测试</li>
  <li nz-menu-item><i nz-icon type="setting"></i>Navigation Three - Submenu</li>
  <li nz-menu-item>
    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
  </li>
</ul>